@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define your fonts using @font-face */
@font-face {
    font-family: 'Aileron_Thin';
    src: url('/assets/fonts/Aileron-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron_UltraLight';
    src: url('/assets/fonts/Aileron-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Audrey_Normal';
    src: url('/assets/fonts/Audrey-Normal.otf') format('opentype');
}

#container {
    scroll-snap-type: y mandatory;

    scroll-behavior: smooth; /* This adds smooth scrolling */
    height: 100vh; /* or any desired height */
  }
  
  .snap-element {
    scroll-snap-align: start;
    /* Ensure children of the container have a height that matches the snap destination */
    height: 100vh;
  }


  .video-dissolve {
    position: relative;
    z-index: 1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(1, 1, 1, 1), rgba(0, 0, 0, 0));
  }
  
  .bg-gradient-to-b {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  